
/* Fuentes importadas*/

.Título {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Times New Roman', Times, serif
    
    
}

body{
    background-color: rgb(82, 82, 156);
}

.Instrucciones {
    color: white;
}